bazel-*
.idea
.bazelbsp
.vscode/settings.json
.bazel
.temp
/.github/scripts/__pycache__
translation.log
.github/scripts/logs/
.claude/settings.local.json
.bash_profile
.bashrc
.profile
.ripgreprc
.zshrc
.zprofile
.claude/settings.json
.gitconfig
.gitmodules
.mcp.json
